/* 
.css-6e3h0h, .chakra-modal__content, .css-1lgo8nc {
    background-color: #2d2d2d !important;
    color: white;
}
.css-6e3h0h button, .css-1lgo8nc button{
    color: white;
}

.css-6e3h0h input, .css-1lgo8nc input {
    color: white;
}
.css-9fgtzh{
    color: white;
} */